@define-color bar-background rgba(6, 6, 7, 0.65);

@define-color active-element #ffffff;
@define-color inactive-element #69696b;

@define-color battery-charging #a6e3a1;
@define-color battery-warning #f9e2af;
@define-color battery-critical #f38ba8;

